<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
	<button ion-button (click)="loadTheThingsSlow()">Load the Things Slowly</button>
	<button ion-button (click)="loadTheThingsQuick()">Load the Things Quickly</button>
	<button ion-button (click)="loadObservables()">Load Observables</button>
</ion-content>
